body {
  color: #000;
  font-weight: normal;
  font-size: 20px;
  background-color: #fff;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  line-height: 21px;
  text-transform: lowercase;
  list-style: circle;
}

.header__links-list li:first-child {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  font-style: normal;
  line-height: 24px;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: start;
  max-width: 240px;
}

.cover {
  position: relative;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 106px;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  line-height: 26px;
}

.cover__description-text {
  align-self: center;
  word-spacing: 18.5px;
  text-transform: uppercase;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin-bottom: 116px;
  padding: 0 24px;
}

.lots__heading {
  padding-left: 40px;
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
}

.card__text {
  position: relative;
  z-index: 1;
  line-height: 120%;
}

.lots__look-more-link {
  margin-left: 40px;
  line-height: 28px;
  text-transform: lowercase;
  text-decoration: none;
  border-bottom: 1px #000 solid;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 35px 24px 0;
  margin-bottom: 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin: 101px 0 100px 0;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 47px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px;
  font-size: 18px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  justify-self: start;
  max-width: 265px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-list-item {
  display: flex;
  flex-direction: column;
  text-transform: lowercase;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  flex-wrap: wrap;
  list-style: none;
  max-width: 240px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}
